div.pri{
    
    width: 300px;
    padding: 0px 10px 0px 210px;
    background-color: white;
    border: 2px dashed #000000;
}

div.segu{
    width: 524px;
    padding: 20px 10px 40px 50px;
    background-color: #fce4d3;
}

div.tri{
    width: 563px;
    padding: 15px 25px 15px 5px;

    background-color:#b50eb7;; 
}