.conten {
    width: 600px;
    border: 1px solid #cccccc;
}

.caja {
    width: 150px;
    height: 100px;
    display: block;
}

.uno {
    background-color: #ffff00;
}

.dos {
    background-color: #3a81ba;
}

.tres {
    background-color: #ed2251;
}